<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/bootstrap/css/bootstrap.css">
    <title>Change product</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/apitest_manage/">&nbsp;&nbsp;流程接口测试</a></li>
                <li><a href="#">&nbsp;&nbsp;流程接口测试步骤</a></li>
                <li><a href="/single_interface_manage/">&nbsp;&nbsp;单一接口测试</a></li>
                <li><a href="/bug_manage/">&nbsp;&nbsp;BUG列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../product_manage" target="mainFrame"> <i
                        class="glyphicon glyphicon-user"></i> {{ user }}</a>
                </li>
                <li><a href="../product_manage" target="mainFrame"> <i
                        class="glyphicon glyphicon-log-out"></i> 退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-5">
    <h1></h1>
    <br>
    <h2 class="page-header">Change Single Interface</h2>
    <form action="single/{{ single_interfaces.id }}/change" method="post">
        <div class="form-group">
            <label>single_interface_name</label>
            <input type="text" name="single_interface_name" class="form-control" value="{{ single_interfaces.single_interface_name }}"
                   required
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label>single_interface_url</label>
            <input type="text" name="single_interface_url" class="form-control" value="{{ single_interfaces.single_interface_url }}"
                   required
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label>single_interface_paragram</label>
            <input type="text" name="single_interface_paragram" class="form-control"
                   value="{{ single_interfaces.single_interface_paragram }}"
                   autocomplete="off">
        </div>
        <div class="form-group">
            <label>single_interface_method</label>
            <select class="form-control" name="single_interface_method">
                <option value="{{ single_interfaces.single_interface_method }}" selected>{{ modules.module_status }}
                </option>
                <option value="0">get</option>
                <option value="1">post</option>
                <option value="2">put</option>
                <option value="3">delete</option>
            </select>
        </div>
        <div class="form-group">
            <label>create_time</label>
            <input type="text" name="create_time" class="form-control" value="{{ single_interfaces.create_time }}"
                   autocomplete="off">
        </div>
        <div class="form-group">
                        <label>module_interface</label>
                        <select class="form-control" name="module_interface_list">
                            {% for module_interface in module_interfaces %}
                            <option value="{{ module_interface.id }}">{{ module_interface.api_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
        <div class="form-group">
            <label>single_interface_desc</label>
            <textarea class="form-control" name="single_interface_desc" value="{{ single_interfaces.single_interface_desc }}"
                      autocomplete="off"></textarea>
        </div>
        <button class="btn btn-default" type="submit" name="submit">commit</button>
    </form>
</div>
</body>
</html>
