<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/bootstrap/css/bootstrap.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/product_manage/">&nbsp;&nbsp;产品列表</a></li>
                <li><a href="/module_page/">&nbsp;&nbsp;模块列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../product_manage" target="mainFrame"> <i
                        class="glyphicon glyphicon-user"></i> {{ user }}</a>
                </li>
                <li><a href="../product_manage" target="mainFrame"> <i
                        class="glyphicon glyphicon-log-out"></i> 退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--搜索栏-->
<div class="form-row">
    <div class="page-header"  style="padding-top: 70px;">
        <form class="bs-example bs-example-form" role="form" method="get" action="/product_search/">
            {% csrf_token %}
            <div class="input-group"></div>
            <input type="search" name=" product_name" placeholder="名称" required>
            <button type="submit" class="btn btn-default ">
                <span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
</div>

<a data-toggle="modal" data-target="#myModal">
    <img src="/static/admin/img/icon-addlink.svg" alt="增加">添加数据库配置
</a>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">
                    添加数据库配置
                </h4>
            </div>
            <form action="/add_db/" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>数据库名称</label>
                        <input type="text" name="db_name" class="form-control" placeholder="数据库名称" required
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>数据库IP地址</label>
                        <input type="text" name="db_ip" class="form-control" placeholder="数据库IP地址 " required
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>数据库端口</label>
                        <input type="text" name="db_port" class="form-control" placeholder="数据库端口 " required
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>数据库登陆名</label>
                        <input type="text" name="db_user" class="form-control" placeholder="数据库登陆名" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>数据库登陆密码</label>
                        <input type="text" name="db_password" class="form-control" placeholder="数据库登陆密码"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>数据库描述</label>

                        <textarea class="form-control" name="db_desc" rows="4" autocomplete="off"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" name="submit" class="btn btn-default">
                            提交
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--产品列表-->
<div class="form-row">
    <div class="col-md-ll">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>数据库名称</th>
                <th>数据库IP地址</th>
                <th>数据库端口</th>
                <th>数据库登陆名</th>
                <th>数据库登陆密码</th>
                <th>数据库描述</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for db in dbs %}
            <tr>
                <td>{{ db.id }}</td>
                <td>{{ db.db_name }}</td>
                <td>{{ db.db_ip }}</td>
                <td>{{ db.db_port }}</td>
                <td>{{ db.db_user }}</td>
                <td>{{ db.db_password }}</td>
                <td>{{ db.db_desc }}</td>
                <td>
                    <a style="color: light blue" data-toggle="modal" data-target="#myModal"
                       href="/db/{{ db.id }}/change/">
                        <img src="http://localhost:8080/static/admin/img/icon-changelink.svg"/></a>
                </td>
                <td>
                    <a style="color: light blue" class="related-widget-wrapper-link add-related"
                       href="/db/{{ db.id }}/delete/">
                        <i class="glyphicon glyphicon-trash"></i></a>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>