<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/static/bootstrap/css/bootstrap1.css">

    <title>AutoTestPlat</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand navbar-left" href="../welcome" target="mainFrame">自动化测试平台</a>
</nav>
<!--<table border="0">glyphicon glyphicon-credit-card-->
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <tr>
        <td>
            <li>
                <a href="../product_manage" target="mainFrame" style="font-size:18px "> <i
                        class="glyphicon glyphicon-list-alt"></i> 产品管理</a>
            </li>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <li>
                <a href="../module_page" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-th"></i> 项目模块</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../module_interface" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-book"></i> 模块接口</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../single_interface_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-star"></i> 单一接口用例</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../apistep_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-star"></i> 流程接口用例</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../sql_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-random"></i> SQL管理</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <!--<tr>
        <td>
            <li>
                <a href="../apistep_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-phone"></i> App测试</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../apistep_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-retweet"></i> web测试</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../apistep_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-cloud-upload"></i> 性能测试</a>
            </li>
        </td>
    </tr>
    -->
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../bug_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-wrench"></i> BUG管理</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../apitest_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-time"></i> 任务管理</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../apitest_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-tasks"></i> 测试报告</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../enveronment_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-globe"></i> 环境配置</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../db_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-cloud"></i> 数据库配置</a>
            </li>
        </td>
    </tr>
    <td>&nbsp;</td>
    <tr>
        <td>
            <li>
                <a href="../db_manage" target="mainFrame" style="font-size:18px"> <i
                        class="glyphicon glyphicon-cloud-download"></i> 爬虫</a>
            </li>
        </td>
    </tr>
</div>
</body>
</html>